.list-group-item {
  border: 0px;
  padding: 0px;
}

input,
select {
  border-radius: 0px !important;
}

.btn-primary {
  display: block;
  background-color: #212529;
  border-color: #212529;

  &:hover,
  &:focus {
    background-color: #212529c4;
  }
}
